/* PHASE 5: Cats */
.banner {
  height: 200px;
  width: 900px;
  margin: 0 auto;
  background-image: url("../friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner h1{
  position: absolute;
  bottom: 20px;
  left: 225px;
  color: white;
  font-size: 36px;
  text-shadow: 1px 1px 2px black
}

.banner button{
  position: absolute;
  font-weight: bold;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  border: 1px black solid;
}
